html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button {
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
body {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  color: #464646;
  font-style: normal;
  font-weight: normal;
  &.overflow {
    overflow: hidden;
  }
}
ul {
  list-style: none;
}
p {
  margin: 0 0 25px 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
section .container {
  max-width: 1379px;
  margin: 0 auto;
  padding: 0 15px;
}
.button {
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 164.4%;
  text-transform: uppercase;
  color: #ffffff;
  height: 69px;
  background: #9180ff;
  transition: all 0.7s ease-in-out;
  border-radius: 10000px;
  &:focus, &:active, &:hover {
    background: #9e8fff;
  }
}
.white-btn {
  background: #FFFFFF;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.19);
  border-radius: 28px;
  font-weight: bold;
  font-size: 15px;
  line-height: 164.4%;
  text-transform: uppercase;
  color: #9180FF;
  &:focus, &:active, &:hover {
    background: #FFFFFF;
    color: #a598ff;
  }
}
/*  MIXINS
========================================== */

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
  -moz-transition-delay: #{$transition-delay};
  -o-transition-delay: #{$transition-delay};
  transition-delay: #{$transition-delay};
}

/*  BURGER
========================================== */

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;

  span {
    //@include burger(30px, 3px, 6px, $gray); // gray
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }

  &.clicked {
    span {
      // @include burger-to-cross;

      &:before,
      &:after {
        background-color: #9180ff;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include transition(all 0.3s ease-in-out);
  background-color: gold;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 0.8;
    visibility: visible;
  }
}
nav {
  z-index: 9;
  max-width: 100%;
  @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  .head__social,
  .head__btn {
    display: none;
  }
  .main {
    display: flex;
    padding: 0 0 9px;
    li {
      margin-right: 18px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #464646;
        @include transition(all 0.3s ease);
        position: relative;
        &:hover {
          color: #9180FF;
          text-shadow: 0 0 .7px #9180FF, 0 0 .7px #9180FF;
          text-decoration: none;
        }
        &:after {
          display: block;
          content: "";
          background-color: #9180FF;
          height: 2px;
          width: 0%;
          left: 50%;
          bottom: -9px;
          position: absolute;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        &:hover:after, &:focus:after {
          width: 80%;
        }
      }
    }
  }
  .head__social {
    margin-top: 47px;
    position: relative;
    padding-bottom: 30px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all 0.4s ease);
    a {
      display: inline-block;
      margin-right: 18px;
      &:last-of-type {
        margin-right: 0px;
      }
      &:hover {
        svg {
          path,
          circle {
            fill: #a597ff;
          }
        }
      }
      svg {
        width: 100%;
        height: 100%;
        path,
        circle {
          fill: #9180FF;
          @include transition(all 0.3s ease);
        }
      }
    }
  }
  .head__btn {
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all 0.4s ease);
    .button {
      width: 208px;
    }
  }
}
@media only screen and (max-width: 920px) {
  /*  NAV
========================================== */
nav {
  background-color: gray;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  @include transform(translateX(100%));
  @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  &.show {
    @include transform(translateX(0px));
    ul.main {
      li {
        @include transform(translateX(0px));
        opacity: 1;
        @for $i from 1 to 10 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.15s;
          }
        }
      }
    }
    .head__social,
    .head__btn {
      display: block;
      @include transform(translateY(0px));
      opacity: 1;
      transition-delay: 0.85s;
    }
  }
  ul.main {
    li {
      @include transform(translateX(40px));
      opacity: 0;
      @include transition(all 0.3s ease);
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}

}
#first {
  color: #9180FF;
  font-weight: 500;
  padding: 57px 0 0;
}
.first__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
  svg {
    path,
    circle {
      fill: #fff;
    }
  }
}
.first__back {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 860px;
  z-index: 0;
}
.first__img {
  position: absolute;
  right: 12.5%;
  bottom: 22px;
}
.first__col {
  position: relative;
  z-index: 1;
}
.first__row {
  background: #FFFFFF;
  box-shadow: 0px 25px 41px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  padding: 45px 70px 187px 90px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.title {
  font-weight: 900;
  font-size: 67px;
  line-height: 126.4%;
  text-transform: uppercase;
  color: #9180F6;
  text-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
  margin: 40px 0;
}
.first__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 70px 0 0;
}
.title__caption {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
}
.first__btn {
  padding: 0 3rem; 
  margin: 59px 0 0;
}
.first__btn.white-btn {
  margin-bottom: 157px;
  padding: 0 2.5rem;
  height: 41px;
}
.first__col-txt {
  display: flex;
}

#welcome {
  padding: 140px 0;
  font-weight: 500;
}
.title-second {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 157.9%;
  color: #9180ff;
  text-align: center;
  text-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
}
.title-caption {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #9180ff;
  text-align: center;
}
.welcome__txt {
  font-size: 17px;
  line-height: 25px;
  margin: 25px auto 0;
  max-width: 515px;
}
.welcome__block {
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 75px 20px 90px;
  background: linear-gradient(245.4deg, #9180ff 37.47%, #573dff 98.72%);
  box-shadow: 0px 30px 52px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 123px;
  .title-second {
    position: relative;
    padding-bottom: 37px;
    color: #ffffff;
    &::after {
      content: "";
      background: #fff;
      width: 112px;
      height: 1px;
      bottom: 0;
      left: 45%;
      position: absolute;
    }
  }
  .title-caption {
    margin-bottom: 37px;
    color: #ffffff;
  }
}
.welcome__svg {
  position: absolute;
  left: -45%;
  top: -45%;
}
.merit__block {
  width: 100%;
  margin: 0 auto;
  max-width: 1231px;
  .title-second {
    margin-bottom: 125px;
  }
}
.merit__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 112px 60px;
}
.merit__item {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  position: relative;
  padding-left: 75px;
  span {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    color: #ececec;
  }
}
#office {
  margin-bottom: 140px;
  .title-second {
    margin: 20px 0 35px;
  }
}
.office__caption {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  max-width: 445px;
  margin: 0 auto 57px;
}
.office__icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #00ab8c;
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.office__block {
  display: flex;
  align-items: center;
  gap: 118px;
}
.office__subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 27px 0 22px;
}
.office__txt {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  max-width: 393px;
}
#program {
  .title-second {
    margin-bottom: 108px;
  }
  .button {
    width: 360px;
  }
}
.program__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 100px;
}
.program__block {
  background: #ffffff;
  box-shadow: 0px 30px 52px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  height: 100%;
  padding: 0 58px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.program__head {
  color: #ffffff;
  padding: 82px 48px 58px;
  height: 279px;
  background: linear-gradient(104.62deg, #9180ff 43.76%, #573dff 110.05%);
  box-shadow: 0px 9px 52px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  margin: 0 -58px;
  position: relative;
}
.program__svg {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 28px;
  overflow: hidden;
  height: 152px;
  width: 145px;
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.program__img-second {
  position: absolute;
  bottom: -12.5px;
  right: 68px;
  max-width: 192px;
}
.program__img-first {
  position: absolute;
  bottom: -12.5px;
  right: 86px;
  max-width: 177px;
}
.program__title {
  font-weight: 900;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.program__promo {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  margin: 20px 0 11px;
}

.program__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.program__promo-time {
  color: #9180ff;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  background: #ffffff;
  box-shadow: 0px 30px 52px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  width: 138px;
  height: 36px;
  padding: 7px 25px;
}
.program__list {
  padding: 56px 0 38px;
  border-bottom: 1px solid #464646;
}
.program__item {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 24px;
  margin-bottom: 40px;
  &:last-child {
    margin: 0;
  }
  p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
.program__icon {
  width: 32px;
  height: 32px;
  background: #9180ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.program__fork {
  svg {
    margin: 0 1.2px;
  }
}
.program__price {
  margin: 40px 0 30px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 164.4%;
  span {
    color: #c4c4c4;
    margin-left: 30px;
    position: relative;
    padding: 0 6px;
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 0;
      background-color: #c4c4c4;
    }
  }
  sub {
    bottom: 0;
  }
}

#questions {
  padding: 140px 0;
}
.questions-accordion {
  position: relative;
  max-width: 722.15px;
  margin: 93px auto 0;
}
.questions-accordion__head {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}
.questions-accordion__body {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 27px;
  z-index: 2;
}
.questions-accordion__list {
  list-style: none;
  perspective: 900;
  padding: 0 20px 10px;
}
.questions-accordion__item {
  position: relative;
  padding: 40px 89px 40px 0;
  border-bottom: 1px solid #464646;
  animation: flipdown 0.5s ease both;
  .arrow {
    position: absolute;
    transform: translate(-6px, 0);
    right: 0;
    top: 36px;
    width: 43px;
    height: 43px;
    border: 1px solid #9180ff;
    border-radius: 50%;
    background: #9180ff;
    transition: all 0.25s ease-in-out;
  }
  .arrow:before,
  .arrow:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 17px;
    left: 20px;
    top: 12px;
    background: #fff;
  }
  .arrow:before {
    transform: translate(0px, 0) rotate(45deg);
  }
  .arrow:after {
    transform: translate(-0px, 0) rotate(-45deg);
  }
  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .questions-accordion__body {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  input[type="checkbox"]:checked ~ .arrow {
    background: transparent;
  }
  input[type="checkbox"]:checked ~ .arrow:before {
    transform: translate(0px, 0) rotate(0deg);
  }
  input[type="checkbox"]:checked ~ .arrow:after {
    transform: translate(0px, 0) rotate(-90deg);
  }
  input[type="checkbox"]:checked ~ .arrow:before,
  input[type="checkbox"]:checked ~ .arrow:after {
    background-color: #9180ff;
  }
}

// .questions-accordion__item:nth-child(1){ border:none; }
// .questions-accordion__item:nth-of-type(1) { animation-delay: 0.5s; }
// .questions-accordion__item:nth-of-type(2) { animation-delay: 0.75s; }
// .questions-accordion__item:nth-of-type(3) { animation-delay: 1.0s; }
// .questions-accordion__item:last-of-type { padding-bottom: 0; }

.questions-accordion__body,
.questions-accordion__item .arrow:before,
.questions-accordion__item .arrow:after {
  transition: all 0.25s ease-in-out;
}
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
#feedback {
  padding: 0 0 149px;
}
.feedback__form {
  width: 100%;
  max-width: 690px;
  margin: 190px auto 0;
  position: relative;
}
.feedback__back {
  position: absolute;
  width: 100%;
  max-width: 638px;
  z-index: -1;
  top: -80px;
  left: 30px;
}
.input__custom {
  padding: 13px 25px;
  border: none;
  height: 50px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.34);
  border-radius: 15px;
  font-size: 16px;
  line-height: 24px;
}
.feed-form__group {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  .input__custom {
    max-width: 433px;
  }
}
.textarea__custom {
  resize: none;
  padding-top: 33px;
  height: 304px;
}
.st0 {
  fill: url(#SVGID_1_);
}
.st1 {
  opacity: 0.13;
  fill: #FFFFFF;
}
.form__button {
  margin-top: 50px;
  padding: 0 9.5rem;
}
footer {
  padding-bottom: 38px; 
}
.footer__nav {
  padding-bottom: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  li {
    a {
      margin: 0 15px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;  
      color: #9180FF;
      &:focus, &:active, &:hover {
        color: #9e8fff;
        text-decoration: none;
      }
    }
  }
  &::after {
    content: '';
    width: 302px;
    height: 1px;
    background: #9180FF;
    position: absolute;
    bottom: 0;
    left: 36%;
  }
}
.footer__social {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  a {
    margin: 0 22px;
    &:focus, &:active, &:hover {
      text-decoration: none;
    }
  }
}
.footer__link {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline; 
    transition: all 0.25s ease-in-out;
    color: #9180FF; 
      &:focus, &:active, &:hover {
        color: #9e8fff;
    }
  }
} 
