.modal-custom {
   ::-moz-placeholder {
      font-weight: normal;
      font-size: 17px;
      line-height: 21px;
      color: rgba(145, 128, 255, 0.75);
   }
   :-moz-placeholder {
      font-weight: normal;
      font-size: 17px;
      line-height: 21px;
      color: rgba(145, 128, 255, 0.75);
   }
   :-ms-input-placeholder {
      font-weight: normal;
      font-size: 17px;
      line-height: 21px;
      color: rgba(145, 128, 255, 0.75);
   }
   ::-webkit-input-placeholder {
      font-weight: normal;
      font-size: 17px;
      line-height: 21px;
      color: rgba(145, 128, 255, 0.75);
   }
}
.modal-custom__content {
   background: #ffffff;
   box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25);
   border-radius: 28px;
   position: relative;
}
.modal__close {
   border: none;
   background: none;
   position: absolute;
   right: 50px;
   top: 50px;
}
.modal-entrance__content {
   padding: 114px 47px 64px 54px;
   width: 100%;
   max-width: 481px;
   .modal__title {
      margin-bottom: 25px;
   }
}
.modal__title {
   font-weight: bold;
   font-size: 22px;
   line-height: 27px;
   color: #9180ff;
   text-align: center;
}
.modal-input__group {
   position: relative;
   width: 100%;
}
.modal-input {
   border: none;
   background: none;
   padding: 26px 20px 20px 45px;
   border-bottom: 1px solid rgba(145, 128, 255, 0.25);
   font-weight: normal;
   font-size: 17px;
   line-height: 21px;
   color: rgba(145, 128, 255, 0.75);
   width: 100%;
}
.modal-input__svg {
   position: absolute;
   bottom: 18px;
   left: 0;
}
.modal__btn-lose {
   border: none;
   background: none;
   margin-top: 19px;
   font-size: 14px;
   line-height: 17px;
   text-align: right;
   color: #9180ff;
   display: flex;
   margin-left: auto;
}
.modal__btn {
   margin-top: 40px;
   width: 208px;
   height: 50px;
   font-size: 18px;
}
.error__mrg {
   font-style: italic;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #ff8080;
   margin-top: -15px;
}
.modal__caption {
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: rgba(145, 128, 255, 0.75);
   margin: 20px 0 0;
}
.modal__caption.center {
   text-align: center;
}
.modal-lose .modal-dialog {
   max-width: 600px;
   padding-top: 77px;
}
.modal-lose__content {
   max-width: 600px;
   padding: 86px 92px 64px 89px;
   .modal__btn {
      margin-top: 76px;
   }
}
.modal-input__group-lose {
   .modal-input {
      padding-right: 155px;
   }
   .modal__caption {
      margin: 20px 0;
   }
}
.modal__btn-code {
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #9180ff;
   border: 1px solid #9180ff;
   box-sizing: border-box;
   background: transparent;
   box-shadow: 0px 10px 32px -3px rgba(0, 0, 0, 0.26);
   border-radius: 28px;
   width: 145px;
   height: 36px;
   position: absolute;
   text-transform: initial;
   bottom: 12px;
   right: -20px;
   box-shadow: none;
   &:hover,
   &:active,
   &:focus {
      color: #fff;
   }
}
.modal-lose__btn {
   position: absolute;
   left: 0;
   top: -77px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 148px;
   height: 46px;
   svg {
      margin-right: 10px;
   }
}
.none-btn {
   border: none;
   background: none;
}
.buy-form {
   ::-moz-placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: rgba(145, 128, 255, 0.75);
   }
   :-moz-placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: rgba(145, 128, 255, 0.75);
   }
   :-ms-input-placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: rgba(145, 128, 255, 0.75);
   }
   ::-webkit-input-placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: rgba(145, 128, 255, 0.75);
   }
}
.buy-head {
   margin: 50px 0 148px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 71px;
   border-top: 1px solid rgba(145, 128, 255, 0.25);
   border-bottom: 1px solid rgba(145, 128, 255, 0.25);
   .remove {
      background: #9180ff;
      width: 27.25px;
      height: 27.25px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      svg {
         width: 9.76px;
         height: 9.75px;
      }
   }
}
.buy-head__prg-small {
   font-size: 14px;
   line-height: 17px;
   color: #9180ff;
   margin: 0;
}
.buy-head__prg {
   font-size: 17px;
   line-height: 21px;
   color: #9180ff;
   margin: 0;
   display: flex;
   align-items: center;
}
.modal-buy {
   .modal-custom__content,
   .modal-dialog {
      max-width: 771.68px;
   }
   .modal-custom__content {
      padding: 110px 57px 110px 66px;
   }
}
.buy__label {
   font-size: 12px;
   line-height: 15px;
   color: #9180ff;
   margin: 0;
}
.buy-head__txt-small {
   margin: 25px 0 50px;
}
.buy-form__row {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px;
   &:first-child {
      margin-top: 0;
   }
}
.buy-form__row-three {
   grid-template-columns: repeat(3, 1fr);
   gap: 12px;
}
.buy__group {
   margin-top: 38px;
}
.buy__input {
   margin-top: 12px;
   border: 1px solid #9180ff;
   box-sizing: border-box;
   border-radius: 8px;
   height: 50px;
   padding: 19px 12px 12px;
   font-weight: 600;
   font-size: 12px;
   line-height: 15px;
   color: #9180ff;
}
.buy__selector {
   .buy__input {
      position: relative;
      z-index: 1;
      .arrow {
         position: absolute;
         position: absolute;
         right: 15px;
         top: 14px;
         transform: rotate(-90deg);
      }
      .label {
         display: block;
      }
   }
   ul {
      width: 100%;
      left: 0;
      top: 59px;
      position: absolute;
      z-index: 1;
      padding: 10px 0;
      background: #FFFFFF;
      border: 1px solid #9180FF;
      box-sizing: border-box;
      border-radius: 8px;
   }
   li {
      padding: 10px 12px;
      height: 36px;
      width: 100%;
      &:hover {
         background: rgba(145, 128, 255, 0.4);
      }
   }
   .hidden {
      visibility: hidden;
   }
   .visible {
      visibility: visible;
   }
}
